{% load static  %}
 <div class="small-container single-product">
        <div class="row">
            <div class="col-2">
                <img src="{{product_click.images.url}}" width="100%" id="ProductImg">

                <div class="small-img-row">
                    <div class="small-img-col">
                        <img src="{{product_click.images.url}}" width="100%" class="small-img">
                    </div>
                    <div class="small-img-col">
                        <img src="{{product_click.images.url}}" width="100%" class="small-img">
                    </div>
                    <div class="small-img-col">
                        <img src="{{product_click.images.url}}" width="100%" class="small-img">
                    </div>
                    <div class="small-img-col">
                        <img src="{{product_click.images.url}}" width="100%" class="small-img">
                    </div>
                </div>

            </div>
            <div class="col-2">
                <p>Home / T-Shirt</p>
                <h1>{{product_click.title}}</h1>
                <h4>${{product_click.price}}</h4>

<!--               form-->
                <form action="{% url 'order_app:add_to_cart' %}" method="POST" enctype="multipart/form-data">
               {% csrf_token %}
                    <input type="hidden" name="product_id" value="{{product_click.id}}">
                  <select name="size" required>
                         <option value="" disabled selected>Select Size</option>
                         <option value="XXL">XXL</option>
                         <option value="XL">XL</option>
                         <option value="L">L</option>
                         <option value="M">M</option>
                         <option value="S">S</option>
                  </select>

                         <input type="number" name="quantity" value="1" min="1" required>
                    <button type="submit" class="btn">Add To Cart</button>
                </form>

<!--                form end-->
                <h3>Product Details <i class="fa fa-indent"></i></h3>
                <br>
                <p>{{product_click.description}}</p>
            </div>
        </div>
    </div>
    <!-- title -->
    <div class="small-container">
        <div class="row row-2">
            <h2>Related Products</h2>
            <p>View More</p>
        </div>
    </div>
    <!-- Products -->
    <div class="small-container">
        <div class="row">
            <div class="col-4">
                <img src="{% static 'images/product-9.jpg' %}">
                <h4>Red Printed T-Shirt</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>$50.00</p>
            </div>
            <div class="col-4">
                <img src="{% static 'images/product-10.jpg' %}">
                <h4>Red Printed T-Shirt</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>$50.00</p>
            </div>
            <div class="col-4">
                <img src="{% static 'images/product-11.jpg' %}">
                <h4>Red Printed T-Shirt</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>$50.00</p>
            </div>
            <div class="col-4">
                <img src="{% static 'images/product-12.jpg' %}">
                <h4>Red Printed T-Shirt</h4>
                <div class="rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
                <p>$50.00</p>
            </div>
        </div>
    </div>